* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    background-color: #008c45;
}

.second {
    background-color: #f4f5f0;
}

.third {
    background-color: #cd212a;
}

li {
    font-size: 20px;
    list-style-type: none;
}